name: Validation

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  json-validation:
    runs-on: ubuntu-latest

    env:
      SCHEMA_LOCATION: "${{ github.workspace }}/schema.json"

    steps:
      - uses: actions/checkout@v4

      - name: Download schema
        run: curl https://raw.githubusercontent.com/ministryofjustice/hmpps-digital-prison-reporting-data-product-definitions-schema/main/schema/data-product-definition-schema.json -o $SCHEMA_LOCATION

      - name: Validate JSON
        id: validate-json
        uses: ammarlakis/action-ajv@master
        with:
          schema: ${{ env.SCHEMA_LOCATION }}
          data: "${{ github.workspace }}/dpd/**/*.json"
          allErrors: true

      - uses: actions/setup-node@v4
        with:
          node-version: "24.x"

      - name: Ensure variant uniqueness within DPDs
        id: ensure-uniqueness
        run: node scripts/ensureUniqueness.js
